@use 'sass:math';
@use 'loading-spinner';

@function rem($size) {
  $remSize: math.div($size, 16);
  @return $remSize * 1rem;
}

:root {
  --color-basic: rgb(7, 87, 129);
  --color-basic-light: rgb(120, 198, 240);
  --color-medium: rgb(212, 225, 238);
  --color-light: rgb(241, 247, 252);
  --color-highlighted: rgb(139, 207, 4);

  --btn-icon-bg: var(--color-medium);
  --btn-icon-bg-hover: var(--color-basic-light);

  --corner: #{rem(20)};
  --btn-icon-corner: #{rem(3)};

  --margin-large: 1.2rem;
  --margin-medium: 0.6rem;
  --margin-small: 0.3rem;
}

$medium-min: rem(768);
$medium: 'width >= #{$medium-min}';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

html,
body {
  height: 100%;
}
body {
  font: 100%/1.5rem Arial, Helvetica, sans-serif;
  user-select: none;
  background-color: var(--color-basic-light);
  padding: 5%;
  color: var(--color-basic);
  @media ($medium) {
    padding: 5% 10%;
  }
}
.wrapper {
  background-color: var(--color-basic);
  border-radius: var(--corner);
  box-shadow: rem(3) rem(3) rem(12) rem(6) rgba(0, 0, 0, 0.2);
  padding: 4% 2%;
  min-height: rem(525);
  position: relative;
  @media ($medium) {
    height: 100%;
  }

  -webkit-overflow-scrolling: touch;
  scrollbar-color: #ff8800 #fff;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: rem(3);
    height: rem(3);
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-basic-light);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-basic-light);
  }
  @media ($medium) {
    display: flex;
    flex-direction: column;
  }
}

.main--header {
  margin: 0 2%;
  color: white;
  align-items: flex-end;

  .main--header--name {
    font-size: 2.3rem;
    color: white;
    cursor: text;
    input {
      font-family: inherit;
      font-size: inherit;
      font-weight: bold;
      color: var(--color-basic-light);
      position: absolute;
      top: 8%;
      left: 4%;
      right: 20%;
      background-color: var(--color-basic);
      border: rem(1) solid var(--color-basic-light);
      padding: 0.1rem 0.2rem;
    }
  }
  .chenage-color {
    display: flex;

    .chenage-color__btn--active + .chenage-color__btn {
      max-width: rem(200);
    }
    .chenage-color__btn {
      background-color: var(--color-medium);
      border-radius: var(--btn-icon-corner);
      text-align: center;
      white-space: nowrap;
      padding-top: rem(2);
      margin: 0 rem(8) 0 rem(3);
      max-width: 0;
      transition: max-width 0.8s;
      overflow: hidden;
      li {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        margin: 0 rem(2);
        overflow: hidden;
        text-indent: rem(-100);
        border: rem(3) solid white;
        margin-bottom: rem(-3);
        cursor: pointer;
        &:nth-child(1) {
          background-color: rgb(7, 87, 129);
          margin-left: rem(8);
        }
        &:nth-child(2) {
          background-color: rgb(209, 3, 3);
        }
        &:nth-child(3) {
          background-color: black;
          margin-right: rem(8);
        }
      }
    }
  }
}
@media ($medium) {
  .main--section {
    flex-grow: 1;
    display: flex;
    max-height: 92%;
    flex-direction: row;
  }
}

/**************************/

.sidebar,
.contend {
  background-color: white;
  border-radius: var(--corner);
  margin: 2% 2% 0;
  display: flex;
  flex-direction: column;
  .list__item--active {
    color: var(--color-highlighted);
    font-weight: bold;
  }
}
.sidebar {
  &.sidebar--hidden {
    padding: 0;
    margin-top: 4rem;
    max-width: auto;
    @media ($medium) {
      margin-top: 0;
      margin-right: 2rem;
      width: auto;
      max-width: 0rem;
    }
    position: relative;
    .header--sidebar {
      padding: 0;
    }
    .header--sidebar h2,
    .header--sidebar ~ * {
      display: none;
    }
    .header--sidebar button {
      position: absolute;
      right: 1rem;
      top: -2rem;

      @media ($medium) {
        top: 2rem;
        right: auto;
      }
    }
  }
  max-width: 500rem;
  @media ($medium) {
    transition: max-width 3s;
  }
  padding: 3% 2%;
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-large);
  // height: rem(170);
  .header--sidebar {
    padding-right: var(--margin-medium);
  }
  .list {
    overflow-y: auto;
    margin-top: var(--margin-large);
    li:not(.list__item--active) {
      cursor: pointer;
    }
  }
  @media ($medium) {
    width: 30%;
    margin-bottom: 0;
    height: auto;
  }

  .jocks {
    margin-top: var(--margin-large);
    border-top: rem(3) solid var(--color-highlighted);
    padding-top: var(--margin-large);
    display: flex;
    flex-grow: 1;
    p {
      align-self: flex-end;
      max-height: 8rem;
      overflow-y: auto;
    }
  }
  .lds-spinner {
    margin-bottom: 0;
  }
}

.contend {
  flex-grow: 1;
  padding: 3% 2%;
  border: rem(5) solid var(--color-highlighted);
  @media ($medium) {
    .contend--wrapper {
      overflow-y: auto;
    }
  }
  .list--current {
    margin-bottom: var(--margin-large);
  }
  .list--done {
    background-color: var(--color-light);
    border-top: rem(2) solid var(--color-medium);

    .header--section {
      padding-top: var(--margin-medium);
    }
  }
  .header--section {
    padding: 0 var(--margin-medium) var(--margin-large);
  }
}

.contend .contend--wrapper.nasa-image {
  overflow: hidden;
  li {
    position: relative;
    max-height: 100%;
    min-height: 10rem;
    overflow: hidden;
    span {
      position: absolute;
      top: 3rem;
      left: 0;
      z-index: 10;
    }
    img {
      max-width: 100%;
      position: relative;
    }
  }
}

.list {
  list-style: none;
  li {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: var(--margin-medium);
    position: relative;
    min-height: 3.3rem;
    &.list--marked {
      background-color: var(--color-basic-light);
    }

    .list__item-first__btn {
      padding: 5%;
      @media ($medium) {
        padding: 10% 20%;
      }
      background-color: var(--color-highlighted);
      border: none;
      border-radius: var(--btn-icon-corner);
      white-space: nowrap;
      @media (max-width: 25rem) {
        white-space: normal;
      }
      font-size: inherit;
      color: white;
      cursor: pointer;
    }
    &:not(:first-child)::after {
      content: '';
      position: absolute;
      border-top: rem(1) dotted var(--color-medium);
      left: var(--margin-medium);
      right: var(--margin-medium);
      top: 0;
      height: rem(1);
    }
    .list__text {
      cursor: pointer;
    }
  }
}

/**************************/

.list .btn-icon:hover {
  background-color: white;
}
.menue--wrapper {
  &:hover {
    h4 {
      background-color: var(--color-basic);
    }
    .menue {
      max-width: 90%;
      padding: var(--margin-medium) 0 var(--margin-medium) var(--margin-large);
      border-radius: rem(12) 0 0 rem(12);
    }
  }
  .menue--btn {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: rem(25);
    width: 0;
    overflow: hidden;
    cursor: pointer;
    height: 3.3rem;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: rem(14);
    }
    &::before {
      top: rem(12);
      border: rem(4) solid var(--color-basic);
      border-width: rem(4) 0;
      height: rem(16);
      width: rem(4);
    }
    &::after {
      top: rem(22);
      width: rem(4);
      height: rem(4);
      background-color: var(--color-basic);
    }
  }
  .menue {
    background-color: var(--color-basic);
    white-space: nowrap;
    transition: max-width 0.8s, padding 0.8s, border-radius 0.8s;
    max-width: 0;
    overflow: hidden;
    height: 3.3rem;
    position: absolute;
    right: rem(25);
    top: 0;
    padding: var(--margin-medium) 0;
    border-radius: 0;
    &:hover {
      overflow: visible;
    }
  }
}
.list--done .list li:last-child .btn-icon:hover span {
  top: -75%;
}
.btn-icon {
  background-color: var(--btn-icon-bg);
  border-radius: var(--btn-icon-corner);
  margin-right: var(--margin-small);
  cursor: pointer;
  position: relative;
  width: 2rem;
  height: 2rem;
  white-space: nowrap;
  border: none;
  overflow: hidden;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: var(--btn-icon-bg-hover);
    overflow: visible;
    span {
      display: none;
    }
    @media ($medium) {
      span {
        display: block;
        width: auto;
        height: auto;
        right: rem(35);
        top: 75%;
        z-index: 2;
      }
    }
  }
  &::before,
  &::after {
    position: absolute;
    content: '';
  }
  &:disabled {
    opacity: 30%;
    cursor: default;
    &:hover {
      background-color: var(--btn-icon-bg);
    }
    span {
      display: none;
    }
  }
  span {
    position: absolute;
    background-color: var(--color-light);
    border: rem(1) solid var(--color-light);
    padding: var(--margin-small);
    color: var(--color-basic);
    border-radius: var(--btn-icon-corner);
    z-index: -1;
    font-size: rem(14);
    box-shadow: 0 rem(1) rem(3) 0 rgba(0, 0, 0, 0.2);
  }
  &.btn-icon--delete::before,
  &.btn-icon--delete::after {
    width: rem(20);
    height: rem(3);
    left: rem(6);
    margin-top: rem(-2);
    background-color: var(--color-basic);
    transform: rotate(0.15turn);
  }
  &.btn-icon--delete::before {
    transform: rotate(-0.15turn);
  }
  &.btn-icon--done::before {
    width: rem(10);
    height: rem(3);
    left: rem(7);
    top: rem(17);
    background-color: var(--color-basic);
    transform: rotate(0.15turn);
  }
  &.btn-icon--done::after {
    width: rem(16);
    height: rem(3);
    left: rem(11);
    margin-top: rem(-3);
    background-color: var(--color-basic);
    transform: rotate(-0.15turn);
  }

  &.btn-icon--up::before {
    top: rem(6);
    left: rem(8);
    border-style: solid;
    border-width: 0 rem(8) rem(12);
    border-color: transparent transparent var(--color-basic) transparent;
  }
  &.btn-icon--down::before {
    top: rem(12);
    left: rem(8);
    border-style: solid;
    border-width: rem(12) rem(8);
    border-color: var(--color-basic) transparent transparent transparent;
  }

  &.btn-icon--edit::before {
    top: rem(17);
    left: rem(3);
    border-style: solid;
    border-width: rem(5);
    border-color: var(--color-basic) transparent transparent transparent;
    transform: rotate(0.15turn);
  }
  &.btn-icon--edit::after {
    width: rem(15);
    height: rem(10);
    left: rem(11);
    top: rem(9);
    background-color: var(--color-basic);
    transform: rotate(0.89turn);
  }
  &.btn-icon--add::before,
  &.btn-icon--add::after {
    width: rem(16);
    height: rem(4);
    left: rem(8);
    top: rem(13);
    background-color: var(--color-basic);
  }
  &.btn-icon--add::after {
    transform: rotate(0.25turn);
  }

  &.btn-icon--move-todo::before {
    top: rem(1);
    left: rem(10);
    border-style: solid;
    border-width: rem(6) rem(7);
    border-color: transparent transparent var(--color-basic) transparent;
  }
  &.btn-icon--move-todo::after {
    width: rem(4);
    height: rem(14);
    left: rem(15);
    top: rem(10);
    background-color: var(--color-basic);
  }
  &.btn-icon--store::before {
    left: rem(7);
    top: rem(7);
    width: rem(17);
    height: rem(16);
    background-color: var(--color-basic);
  }
  &.btn-icon--store::after {
    top: rem(8);
    left: rem(11);
    width: rem(9);
    height: rem(5);
    background-color: white;
  }
  &.btn-icon--color::before {
    left: rem(8);
    top: rem(6);
    width: rem(16);
    height: rem(8);
    background-color: var(--color-basic);
    border-radius: rem(10) rem(10) 0 0;
  }
  &.btn-icon--color::after {
    left: rem(8);
    top: rem(17);
    width: rem(16);
    height: rem(8);
    background-color: var(--color-highlighted);
    border-radius: 0 0 rem(10) rem(10);
  }

  &.btn-icon--marked--active {
    background-color: var(--color-highlighted);
  }
  &.btn-icon--marked::before {
    top: rem(8);
    left: rem(8);
    width: rem(8);
    height: rem(8);
    border-radius: 50%;
    border: rem(4) solid var(--color-basic);
  }

  &.btn-icon--add-marked::before {
    top: rem(9);
    left: rem(9);
    width: rem(14);
    height: rem(14);
    border-radius: 50%;
    background-color: var(--color-basic);
  }
  &.btn-icon--menue::before {
    left: rem(8);
    top: rem(6);
    width: rem(16);
    height: rem(11);
    border: 0.3rem solid var(--color-basic);
    border-width: 0.3rem 0;
    transform: rotate(0deg);
    transition: all 0.8s;
  }
  &.btn-icon--menue::after {
    left: rem(8);
    top: rem(14);
    width: rem(16);
    height: rem(8);
    border-top: 0.3rem solid var(--color-basic);
    transform: rotate(0deg);
    transition: all 0.8s;
  }
}

.sidebar:not(.sidebar--hidden) .btn-icon--menue::before {
  border-bottom: none;
  transform: rotate(45deg);
  left: rem(3);
  top: rem(11);
  width: rem(20);
}
.sidebar:not(.sidebar--hidden) .btn-icon--menue::after {
  transform: rotate(-45deg);
  left: rem(9);
  top: rem(11);
  width: rem(20);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 22;
  > div {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 42%;
    @media ($medium) {
      left: 50%;
    }
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: rem(333);
    background-color: white;
    border-radius: var(--corner);
    padding: var(--margin-large);
    white-space: nowrap;
    //max-width: 96%;
    > div {
      flex-grow: 1;
    }
  }
  input {
    height: 2rem;
    width: 93%;
    font-size: inherit;
    border: none;
    background-color: var(--color-light);
    padding: var(--margin-small);
    border-radius: var(--btn-icon-corner);
    margin-right: var(--margin-large);
    vertical-align: top;
    &:invalid {
      background-color: rgb(201, 5, 5);
      color: white;
    }
    &:invalid + p {
      position: absolute;
      white-space: normal;
      left: var(--margin-large);
      right: var(--margin-large);
      font-size: inherit;
      background-color: #fff;
      border: rem(1) solid rgb(201, 5, 5);
      border-radius: var(--btn-icon-corner);
      margin-top: var(--margin-medium);
      padding: var(--margin-medium);
    }
    &:valid + p {
      display: none;
    }
  }
  .btn-icon--delete {
    position: absolute;
    right: rem(-50);
  }
}
